

<ion-content class="ion-padding" >
  <div class="ion-text-center" style="margin-top: 50%;">
    <img style="text-align: center;" src="assets/logo_blanco.svg"  width='200' alt="">
  </div>
  <div class="ion-text-center" style="margin-top: 40%;">
    <b style="color: white !important; font-size: large;">DELIVERY</b>
  </div>
  <div class="ion-text-center" style="margin-top: 5%;">
    <ion-button routerLink="/inicio-farma"  fill="outline" shape="round">
      Seguir
    </ion-button>
    <br>
    <small>Boton provisional</small>
  </div>
  
</ion-content>
